Source: itu-t-stl
Priority: extra
Maintainer: Dennis Guse <dennis.guse@alumni.tu-berlin.de>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.4
Section: science
Homepage: http://www.itu.int/rec/T-REC-G.191/en
Vcs-Git: https://github.com/dennisguse/ITU-T_stl2009/

Package: itu-t-stl
Section: science
Architecture: any
Depends: libc
Description: ITU-T Software Tool Library
 The ITU-T Software Tool Library from 2009 as specified in ITU-T G.191.